.title {
  font-size: 1rem;
}

.contentEditor {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleInput, .bodyInput {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background-2);
  border: none;
  color: white;
}

.titleInput:hover, .bodyInput:hover, .titleInput:focus, .bodyInput:focus {
  outline: none;
}

.titleInput {
  font-size: 1.5rem;
  font-weight: 700;
}

.bodyInput {
  font-size: 1.125rem;
  font-weight: 600;
  resize: none;
}

.noteOptions {
  display: flex;
  gap: 1rem;
}

.deleteBtn {
  background: var(--red);
}

.deleteBtn:hover {
  background: var(--red-2);
}

@media (max-width:500px) {
  .title {
    display: none;
  }
}